.greeting {
   // position: fixed;
   position: relative;
   width: 100%;
   margin: 1rem 0;
   // top: 25%;
   text-align: center;
   color: white;
   z-index: -1;
   
   overflow: hidden;

   // border: 1px solid green;

   h1 {
      overflow: hidden;
      white-space: nowrap;
      font-size: 32px;
      z-index: -1;
   }
}

.greeting-onload-animation {
   animation: fade-in 1.4s ease-in-out;
   animation-fill-mode: forwards;
}

@media only screen and (max-width: 450px) {
   .greeting {
      h1 {
         font-size: 20px;
      }
   }
}

.greeting-when-settings-open {
   animation: clock-slide-open .8s ease-in-out;
   animation-fill-mode: forwards;
   width: calc(100% - 450px);
}

.greeting-when-settings-close {
   animation: clock-slide-close .8s ease-in-out;
   animation-fill-mode: forwards;
   width: 100%;
}

@media only screen and (max-width: 900px) {
   .greeting-when-settings-open {
      animation: none;
      width: 100%;
   }
   
   .greeting-when-settings-close {
      animation: none;
      width: 100%;
   }
}

.greeting-hidden {
   animation: fade-out 1s ease-in-out;
   animation-fill-mode: forwards;
}

.greeting-shown {
   // animation: slide-in-when-settings-open 1s ease-in-out;
   animation: fade-in 1s ease-in-out;
   animation-fill-mode: forwards;
   // width: calc(100% - 500px);
}

$emojiPickerBackground: rgb(185, 195, 200);
$emojiPickerColor: rgba(0, 0, 0, 0.54);
$emojiPickerBorderColor: rgba(0, 0, 0, 0.23);
.emoji-picker-react {
   margin: 0 auto 1rem;
   box-shadow: none !important;
   border-color: $emojiPickerBorderColor !important;
   border-radius: 10px !important;
   background: $emojiPickerBackground !important;
   
   .emoji-group:before {
      background: $emojiPickerBackground !important;
      // color: white !important;
      color: $emojiPickerColor !important;
      backdrop-filter: blur(20px);
      border-radius: 5px;
   }
   .content-wrapper:before {
      // color: white !important;
      color: $emojiPickerColor !important;
   }
   .emoji-search {
      background: transparent !important;
      border-color: $emojiPickerBorderColor !important;
      color: $emojiPickerColor;
   }
   .variation-list {
      background: $emojiPickerBackground !important;
   }
}

.chosen-emoji {
   min-height: 3.5rem;
   margin: auto;
   margin-bottom: .5rem;

   display: flex;
   align-items: center;
   justify-content: center;

   h3 {
      font-size: 2.25rem;
      text-align: center;
   }
   label {
      margin: auto;
      font-size: 1.25rem;
      color: $emojiPickerColor;
   }
}
// @keyframes slide-in-when-settings-open {
//    0% { 
//       transform: translateX(-125%);
//       opacity: 0;
//    }
//    70% {
//       opacity: .5;
//       transform: translateX(5%);
//    }
//    100% { 
//       transform: translateX(0%);
//       width: calc(100% - 500px);
//       opacity: 1;
//    }
// }