.calendar-events {
   box-sizing: border-box;
   height: 60% !important;
   width: 80% !important;
   max-width: 800px !important;
   // padding-top: 4rem !important;
   color: rgb(70, 70, 70);

   .calendar-event-point-section {
      display: flex;
      justify-content: flex-start;
      
      .event-point {
         
         display: block;
         margin-right: 1rem;
         padding: 0 1rem;
         border-radius: .5rem;
         font-size: 1.75rem;
         transition: all .4s;
         cursor: pointer;
         
         &:hover {
            background: rgba(70, 70, 70, 0.1);
         }
      }

      .selected-event-point {
         border-bottom: .2rem solid rgb(70, 70, 70);
      }
   }
   
   .calendar-events-close {
      position: fixed;
      top: 0;
      right: 0;
      margin: .5rem .5rem;
      padding: .5rem;
      transform: translate(25%, -25%);
      border-radius: 15px;
      background: red;
      transition: all .3s;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      fill: white;

      &:hover {
         background: rgb(142, 0, 0);
      }
   }

   .event-card {
      width: 100%;
      margin: 1rem 0;
      padding: 1rem 0;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      box-shadow: 5px 5px 10px 1px rgba(70, 70, 70, 0.3);

      h3, p, label {
         margin: 0 1.5rem;
      }
   }
}

@media only screen and (max-width: 700px) {
   .calendar-events {
      height: 80% !important;
      width: 95% !important;
   }
}