.greeting {
   // position: fixed;
   position: relative;
   width: 100%;
   margin: 1rem 0;
   // top: 25%;
   text-align: center;
   color: white;
   z-index: -1;
   
   overflow: hidden;

   // border: 1px solid green;

   h1 {
      overflow: hidden;
      white-space: nowrap;
      font-size: 32px;
      z-index: -1;
   }
}

.greeting-onload-animation {
   animation: fade-in 1.4s ease-in-out;
   animation-fill-mode: forwards;
}

@media only screen and (max-width: 450px) {
   .greeting {
      h1 {
         font-size: 20px;
      }
   }
}

.greeting-when-settings-open {
   animation: clock-slide-open .8s ease-in-out;
   animation-fill-mode: forwards;
   width: calc(100% - 500px);
}

.greeting-when-settings-close {
   animation: clock-slide-close .8s ease-in-out;
   animation-fill-mode: forwards;
   width: 100%;
}

@media only screen and (max-width: 900px) {
   .greeting-when-settings-open {
      animation: none;
      width: 100%;
   }
   
   .greeting-when-settings-close {
      animation: none;
      width: 100%;
   }
}

.greeting-hidden {
   animation: fade-out 1s ease-in-out;
   animation-fill-mode: forwards;
}

.greeting-shown {
   // animation: slide-in-when-settings-open 1s ease-in-out;
   animation: fade-in 1s ease-in-out;
   animation-fill-mode: forwards;
   // width: calc(100% - 500px);
}

// @keyframes slide-in-when-settings-open {
//    0% { 
//       transform: translateX(-125%);
//       opacity: 0;
//    }
//    70% {
//       opacity: .5;
//       transform: translateX(5%);
//    }
//    100% { 
//       transform: translateX(0%);
//       width: calc(100% - 500px);
//       opacity: 1;
//    }
// }