@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

$animationSpeed: .6s;

* {
   margin: 0;
   padding: 0;
   font-family: 'Comic Neue', cursive;
   -webkit-tap-highlight-color: transparent;
   outline: none;
   scroll-behavior: smooth;
   &::-moz-focus-inner {
      border: 0;
    }    
}

body {
   height: 100vh;
   width: 100%;
   background: rgb(50, 50, 50);
   // background: linear-gradient(to bottom, #073759, #a4a4a4);
}

#root {
   height: 100vh;
   width: 100%;
   overflow: hidden;
}

// for overflow margin-right problem:
// https://stackoverflow.com/questions/11695354/css-right-margin-does-not-work-inside-a-div-with-overflow-scroll
.bottom-components {
   // bottom components like calendar and notifications
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 375px;
   // border: 1px solid red;

   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   overflow-y: hidden;
   overflow-x: auto;

   &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 15px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
    }
}

.bottom-components-settings-open {
      animation: bottom-components-slide-open .45s ease-in-out forwards;
      width: calc(100% - 500px);
}

.bottom-components-settings-close {
   animation: bottom-components-slide-close .6s ease-in-out forwards;
   width: 100%;
}

@media only screen and (max-width: 900px) {
   .bottom-components-settings-open {
      animation: none;
      width: 100%;
   }

   .bottom-components-settings-close {
      animation: none;
      width: 100%;
   }
}

.react-calendar-container {
   // position: fixed;
   position: relative;
   width: 350px;
   min-width: 300px;
   left: 0;
   bottom: 0;
   margin: 15px;
   border-radius: 15px;
   box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);
   background: transparent;
   backdrop-filter: blur(1rem);
   font-size: 20px;
   overflow: hidden;
   // animation: slide-in 1s ease-in-out;
   animation: slide-up-show $animationSpeed ease-in-out;
   z-index: 8;
   
   @media only screen and (max-width: 450px) {
      margin: .5rem;
      width: calc(100% - 1rem);

      .react-calendar {
         width: 100%;
      }
   }

   $calendarBGColor: rgba(215, 215, 215, 0.8);
   .react-calendar {
      background: $calendarBGColor;
      // color: white !important;
      border: none;
      border-bottom: 1px solid gray;
   }

   // MuiButtonBase-root MuiButton-root MuiButton-contained
   .MuiButtonBase-root {
      background: $calendarBGColor;
      // color: white;
   }
}

// .react-calendar-container {
//    animation: slide-in 1s ease-in-out;
// }

.react-calendar-shown {
   // transform: translateX(0%);
   // opacity: 1;
   // animation: slide-in 1s ease-in-out;
   
   transform: translateY(0%);
   opacity: 1;
   animation: slide-up-show $animationSpeed ease-in-out;
}

.react-calendar-hidden {
   // transform: translateX(-125%);
   // opacity: 0;
   // animation: slide-out 1s ease-in-out;
   position: fixed;
   transform: translateY(125%);
   opacity: 0;
   animation: slide-down-hide $animationSpeed ease-in-out;
}

.calendar-events-show-all-button {
   button {
      width: 100%;
      background: white;
   }
}

@keyframes slide-up-show {
   from {
      transform: translateY(125%);
      opacity: 0;
   }
   to {
      transform: translateY(0%);
      opacity: 1;
   }
}

@keyframes slide-down-hide {
   from {
      transform: translateY(0%);
      opacity: 1;
   }
   to {
      transform: translateY(125%);
      opacity: 0;
   }
}

@keyframes slide-up-hide {
   from {
      transform: translateY(0%);
      opacity: 1;
   }
   to {
      transform: translateY(-125%);
      opacity: 0;
   }
}

@keyframes slide-down-show {
   from {
      transform: translateY(-125%);
      opacity: 0;
   }
   to {
      transform: translateY(0%);
      opacity: 1;
   }
}

@keyframes slide-in {
   0% { 
      transform: translateX(-125%);
      opacity: 0;
   }
   70% {
      opacity: .5;
      transform: translateX(5%);
   }
   100% { 
      transform: translateX(0%);
      opacity: 1;
   }
}

@keyframes slide-out {
   0% { 
      transform: translateX(0%);
      opacity: 1;
   }
   30% {
      opacity: .5;
      transform: translateX(5%);
   }
   100% { 
      transform: translateX(-125%);
      opacity: 0;
   }
}

@keyframes open-settings-open {
   from {
      // border-radius: 100%;
      transform: translateX(calc(100% + 2rem));
   }to {
      border-radius: 15px;
      transform: translateX(0);
   }
}

@keyframes open-settings-close {
   from {
      transform: translateX(0);
   }to {
      transform: translateX(calc(100% + 2rem));
   }
}

@keyframes clock-slide-open {
   from {
      width: 100%;
   } to {
      width: calc(100% - 500px);
   }
}

@keyframes clock-slide-close {
   from {
      width: calc(100% - 500px);
   } to {
      width: 100%;
   }
}

@keyframes bottom-components-slide-open {
   from {
      width: 100%;
   } to {
      width: calc(100% - 515px);
   }
}

@keyframes bottom-components-slide-close {
   from {
      width: calc(100% - 515px);
   } to {
      width: 100%;
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fade-out {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
