$animationSpeed: .6s;
$settingsWidth: 450px;
$calendarBGColor: rgba(215, 215, 215, 0.8);

* {
   margin: 0;
   padding: 0;
   -webkit-tap-highlight-color: transparent;
   outline: none;
   scroll-behavior: smooth;
   &::-moz-focus-inner {
      border: 0;
    }    
}

body {
   height: 100vh;
   width: 100%;
   background: rgb(50, 50, 50);
   font-family: 'Comic Neue', cursive;
   // background: linear-gradient(to bottom, #073759, #a4a4a4);
}

#root {
   height: 100vh;
   width: 100%;
   overflow: hidden;
}

.app {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   // border: 1px solid yellow;
   height: 100vh;

   transition: all .4s;
}

main {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   // border: 1px solid red;
}

// for overflow margin-right problem:
// https://stackoverflow.com/questions/11695354/css-right-margin-does-not-work-inside-a-div-with-overflow-scroll
.bottom-components {
   // bottom components like calendar and notifications
   // position: fixed;
   position: relative;
   left: 0;
   bottom: 0;
   width: calc(100% - 1.6rem);
   min-height: 200px;
   margin: 0 .8rem .4rem;
   padding: .4rem 0;
   // height: 375px;
   // border: .2rem solid red;
   box-sizing: border-box;

   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   overflow-y: hidden;
   overflow-x: auto;

   &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $calendarBGColor;
    }
}

.bottom-components-settings-open {
      animation: bottom-components-slide-open .45s ease-in-out forwards;
      width: calc(100% - 545px);
}

.bottom-components-settings-close {
   animation: bottom-components-slide-close .6s ease-in-out forwards;
   width: calc(100% - 1.6rem);
}

@media only screen and (max-width: 900px) {
   .bottom-components-settings-open {
      animation: none;
      width: calc(100% - 1.6rem);
   }

   .bottom-components-settings-close {
      animation: none;
      width: calc(100% - 1.6rem);
   }
}

.event-done * {
   text-decoration: line-through;
}

.react-calendar-container {
   // position: fixed;
   // position: absolute;
   // height: 350px;
   // flex: 1;
   width: 350px;
   min-width: 300px;
   left: 0;
   bottom: 0;
   margin-right: .8rem;
   // margin-bottom: .4rem;
   border-radius: 15px;
   // box-shadow: 0 0 25px 2.5px rgba(0, 0, 0, 0.4);
   background: transparent;
   backdrop-filter: blur(1rem);
   font-size: 20px;
   overflow: hidden;
   // animation: slide-in 1s ease-in-out;
   animation: slide-up-show $animationSpeed ease-in-out;
   z-index: 8;
   
   display: inline-block;

   @media only screen and (max-width: 450px) {
      margin-right: .8rem;
      width: calc(100% - 1rem);

      .react-calendar {
         width: 100%;
      }
   }

   .react-calendar {
      // min-height: 315px;
      // max-height: 315px;
      // max-height: 300px;
      background: $calendarBGColor;
      // color: white !important;
      border: none;
      border-bottom: 1px solid gray;

      .react-calendar__navigation {
         // margin: .5em !important;
      }
      .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
         font: normal;
      }
   }

   // MuiButtonBase-root MuiButton-root MuiButton-contained
   .MuiButtonBase-root {
      background: $calendarBGColor;
      // border: none;
      // color: white;
   }
}

// .react-calendar-container {
//    animation: slide-in 1s ease-in-out;
// }

.react-calendar-shown {
   // transform: translateX(0%);
   // opacity: 1;
   // animation: slide-in 1s ease-in-out;
   
   transform: translateY(0%);
   opacity: 1;
   animation: slide-up-show $animationSpeed ease-in-out;
}

.react-calendar-hidden {
   // transform: translateX(-125%);
   // opacity: 0;
   // animation: slide-out 1s ease-in-out;
   // position: absolute;
   transform: translateY(125%);
   opacity: 0;
   animation: slide-down-hide $animationSpeed ease-in-out;
}

.calendar-events-show-all-button {
   button {
      width: 100%;
      background: white;
   }
}

@media only screen and (max-height: 575px) {
   .app {
      display: block;
      height: 100%;
      overflow: auto;
   }
}

@keyframes slide-up-show {
   from {
      transform: translateY(125%);
      opacity: 0;
   }
   to {
      transform: translateY(0%);
      opacity: 1;
   }
}

@keyframes slide-down-hide {
   from {
      transform: translateY(0%);
      opacity: 1;
   }
   to {
      transform: translateY(125%);
      opacity: 0;
   }
}

@keyframes slide-up-hide {
   from {
      transform: translateY(0%);
      opacity: 1;
   }
   to {
      transform: translateY(-125%);
      opacity: 0;
   }
}

@keyframes slide-down-show {
   from {
      transform: translateY(-125%);
      opacity: 0;
   }
   to {
      transform: translateY(0%);
      opacity: 1;
   }
}

@keyframes slide-in {
   0% { 
      transform: translateX(-125%);
      opacity: 0;
   }
   70% {
      opacity: .5;
      transform: translateX(5%);
   }
   100% { 
      transform: translateX(0%);
      opacity: 1;
   }
}

@keyframes slide-out {
   0% { 
      transform: translateX(0%);
      opacity: 1;
   }
   30% {
      opacity: .5;
      transform: translateX(5%);
   }
   100% { 
      transform: translateX(-125%);
      opacity: 0;
   }
}

@keyframes open-settings-open {
   from {
      // border-radius: 100%;
      transform: translateX(calc(100% + 2rem));
   }to {
      border-radius: 15px;
      transform: translateX(0);
   }
}

@keyframes open-settings-close {
   from {
      transform: translateX(0);
   }to {
      transform: translateX(calc(100% + 2rem));
   }
}

@keyframes clock-slide-open {
   from {
      width: 100%;
   } to {
      width: calc(100% - #{$settingsWidth});
   }
}

@keyframes clock-slide-close {
   from {
      width: calc(100% - #{$settingsWidth});
   } to {
      width: 100%;
   }
}

// the 45px is the margin between notifications and settings
$bottomComponents: $settingsWidth + 45px;
@keyframes bottom-components-slide-open {
   from {
      width: calc(100% - 1.6rem);
   } to {
      width: calc(100% - #{$bottomComponents});
   }
}

@keyframes bottom-components-slide-close {
   from {
      width: calc(100% - #{$bottomComponents});
   } to {
      width: calc(100% - 1.6rem);
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fade-out {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
