@font-face {
  font-family: "Comic Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./../fonts/Comic_Neue/ComicNeue-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Comic Neue Bold";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(./../fonts/Comic_Neue/ComicNeue-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Comic Neue";
  -webkit-tap-highlight-color: transparent;
  outline: none;
  scroll-behavior: smooth;
}
*::-moz-focus-inner {
  border: 0;
}

body {
  height: 100vh;
  width: 100%;
  background: #323232;
}

#root {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  transition: all 0.4s;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-components {
  position: relative;
  left: 0;
  bottom: 0;
  width: calc(100% - 1.6rem);
  min-height: 200px;
  margin: 0 0.8rem 0.4rem;
  padding: 0.4rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow-y: hidden;
  overflow-x: auto;
}
.bottom-components::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 15px;
}
.bottom-components::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
}

.bottom-components-settings-open {
  animation: bottom-components-slide-open 0.45s ease-in-out forwards;
  width: calc(100% - 545px);
}

.bottom-components-settings-close {
  animation: bottom-components-slide-close 0.6s ease-in-out forwards;
  width: calc(100% - 1.6rem);
}

@media only screen and (max-width: 900px) {
  .bottom-components-settings-open {
    animation: none;
    width: calc(100% - 1.6rem);
  }

  .bottom-components-settings-close {
    animation: none;
    width: calc(100% - 1.6rem);
  }
}
.react-calendar-container {
  width: 350px;
  min-width: 300px;
  left: 0;
  bottom: 0;
  margin-right: 0.8rem;
  border-radius: 15px;
  background: transparent;
  backdrop-filter: blur(1rem);
  font-size: 20px;
  overflow: hidden;
  animation: slide-up-show 0.6s ease-in-out;
  z-index: 8;
  display: inline-block;
}
@media only screen and (max-width: 450px) {
  .react-calendar-container {
    margin-right: 0.8rem;
    width: calc(100% - 1rem);
  }
  .react-calendar-container .react-calendar {
    width: 100%;
  }
}
.react-calendar-container .react-calendar {
  background: rgba(215, 215, 215, 0.8);
  border: none;
  border-bottom: 1px solid gray;
}
.react-calendar-container .MuiButtonBase-root {
  background: rgba(215, 215, 215, 0.8);
}

.react-calendar-shown {
  transform: translateY(0%);
  opacity: 1;
  animation: slide-up-show 0.6s ease-in-out;
}

.react-calendar-hidden {
  transform: translateY(125%);
  opacity: 0;
  animation: slide-down-hide 0.6s ease-in-out;
}

.calendar-events-show-all-button button {
  width: 100%;
  background: white;
}

@media only screen and (max-height: 575px) {
  .app {
    display: block;
    height: 100%;
    overflow: auto;
  }
}
@keyframes slide-up-show {
  from {
    transform: translateY(125%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slide-down-hide {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(125%);
    opacity: 0;
  }
}
@keyframes slide-up-hide {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-125%);
    opacity: 0;
  }
}
@keyframes slide-down-show {
  from {
    transform: translateY(-125%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-125%);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  30% {
    opacity: 0.5;
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-125%);
    opacity: 0;
  }
}
@keyframes open-settings-open {
  from {
    transform: translateX(calc(100% + 2rem));
  }
  to {
    border-radius: 15px;
    transform: translateX(0);
  }
}
@keyframes open-settings-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 2rem));
  }
}
@keyframes clock-slide-open {
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 450px);
  }
}
@keyframes clock-slide-close {
  from {
    width: calc(100% - 450px);
  }
  to {
    width: 100%;
  }
}
@keyframes bottom-components-slide-open {
  from {
    width: calc(100% - 1.6rem);
  }
  to {
    width: calc(100% - 495px);
  }
}
@keyframes bottom-components-slide-close {
  from {
    width: calc(100% - 495px);
  }
  to {
    width: calc(100% - 1.6rem);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=App.css.map */
