.settings {
  position: fixed;
  top: 5rem;
  right: 0;
  height: calc(100% - 8rem);
  margin: 2rem 1rem;
  width: 500px;
  background: linear-gradient(30deg, rgba(108, 130, 168, 0.9), rgba(144, 144, 144, 0.9));
  backdrop-filter: blur(7.5px);
  border-radius: 15px;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.4);
  color: white;
  z-index: 9999;
  transform: translateX(calc(100% + 2rem));
  overflow: hidden;
}
.settings h1 {
  font-size: 36px;
  text-align: center;
  margin: 1rem;
}
.settings .settings-form {
  height: calc(100% - 175px);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}
.settings .settings-form::-webkit-scrollbar {
  width: 15px;
  background: transparent;
}
.settings .settings-form::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}
.settings .settings-form h2 {
  margin: 1rem;
  font-size: 26px;
  text-align: center;
}
.settings .settings-form button {
  margin: 1rem;
}
.settings .settings-form .textfield {
  width: 40%;
  margin: 1rem;
}
.settings .settings-form .line {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 65%;
}
.settings .settings-form .favorite-add {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings .settings-form .favorite-list {
  width: 75%;
  margin: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings .settings-form .favorite-list .favorite-list-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 1rem 1.5rem;
  color: #373e49;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.6));
  border-radius: 10px;
  border: 1px solid #5f6777;
  box-shadow: 2.5px 2.5px 10px 1.25px rgba(0, 0, 0, 0.2);
}
.settings .settings-form .favorite-list .favorite-list-element h3, .settings .settings-form .favorite-list .favorite-list-element h4 {
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0.25rem 0;
  padding: 0 1rem;
}
.settings .settings-form .favorite-list .favorite-list-element button {
  background: #c83232;
}

@media only screen and (max-width: 550px) {
  .settings {
    width: calc(100% - 2rem);
  }
}
.settings-open {
  animation: open-settings-open 0.4s ease-in-out;
  animation-fill-mode: forwards;
  transform: translateX(0);
}

.settings-close {
  animation: open-settings-close 0.4s ease-in-out;
  animation-fill-mode: forwards;
  transform: translateX(calc(100% + 2rem));
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin: 2rem 4rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #373e49;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #323232;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.line {
  position: relative;
  width: 80%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  margin: auto;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

/*# sourceMappingURL=Settings.css.map */
